
root = true

[*]
charset = utf-8
end_of_line = lf

# C/C++
[*.{c,cc,cpp,h,hh,hpp}]
indent_size = 2
indent_style = space

# CMake
[{CMakeLists.txt,*.cmake}]
indent_size = 2
indent_style = space

# Perl
[*.{pl,pm}]
indent_size = 2
indent_style = space

# Python
[*.py]
indent_size = 4
indent_style = space

# Shell
[*.sh]
indent_size = 2
indent_style = space

