
[._]*.sw[a-z]
\#*\#
.\#*
*~
*.bak
*.orig
*.tmp
tags
TAGS

*.core
vgcore
vgcore.*

*.diff
*.patch

*.o
*.a
*.so
*.so.*

*.gch
*.pch

*.bin
*.elf
*.exe
*.out

build/
_build/
build-*/
_build-*/
cmake-build-*/
